*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	line-height: 30px;
	color: #777;
	font-family: 'Raleway', sans-serif;
}

.container-fluid{
	width: 100%;
}

.container{
	width: 1140px;
	margin: 0 auto;
}

.m-70{
	margin-top: 70px;
}

/*header*/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .nav ul{
	display: flex;
	list-style: none;
}

.header .nav ul li a{
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	color: #222;
}

.header .nav ul li a:hover{
	background: #ff3c41;
	color: #fff;
}

/*slider*/
.slider img{
	width: 100%;
}

/*about us*/
.about-us{

	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.about-us .about-us-content h3{
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	color: #3c3c3c;
	margin-bottom: 10px;
}

.about-us .about-us-content p{
	margin-bottom: 10px;
}

.about-us .about-us-content .btn{
	display: inline-block;
	margin-top: 15px;
	border: 2px solid #76daff;
}

.about-us .about-us-content .btn:hover{
	border: none;
	background: #76daff;
	color: #fff;
}

.about-us-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/*what we do*/
.what-we-do-bg{
	background: #1c1c1c;
	min-height: 100px;
	padding: 70px 0;
}

.what-we-do .title h1{
	color: #fff;
}

.what-we-do-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*project*/
.project-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*latest blogs*/
.latest-items{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
