*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	line-height: 30px;
	color: #777;
	font-family: 'Raleway', sans-serif;
}

.container-fluid{
	width: 100%;
}

.container{
	width: 1140px;
	margin: 0 auto;
}

.m-70{
	margin-top: 70px;
}

/*header*/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header .nav ul{
	display: flex;
	list-style: none;
}

.header .nav ul li a{
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	color: #222;
}

.header .nav ul li a:hover{
	background: #ff3c41;
	color: #fff;
}

/*slider*/
.slider img{
	width: 100%;
}

/*about us*/
.about-us{

	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.about-us .about-us-content h3{
	font-weight: bold;
	font-size: 26px;
	line-height: 31px;
	color: #3c3c3c;
	margin-bottom: 10px;
}

.about-us .about-us-content p{
	margin-bottom: 10px;
}

.about-us .about-us-content .btn{
	display: inline-block;
	margin-top: 15px;
	border: 2px solid #76daff;
}

.about-us .about-us-content .btn:hover{
	border: none;
	background: #76daff;
	color: #fff;
}

.about-us-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/*what we do*/
.what-we-do-bg{
	background: #1c1c1c;
	min-height: 100px;
	padding: 70px 0;
}

.what-we-do .title h1{
	color: #fff;
}

.what-we-do-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*project*/
.project-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*latest blogs*/
.latest-items{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/*testimonials*/
.testi-bg{
	padding: 70px 0;
	background-image: url('./images/bg_testimonial.png');
	background-size: cover;
	background-position: center;
}

.testi-bg .title h1{
	color: #fff;
}

.testi{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.testi .avatar{
	margin-left: 100px;
}

.testi .avatar img{
	border: 2px solid #ccc;
	padding: 10px;
}

.testi-content p{
	color: #fff;
	margin-bottom: 15px;
}

.testi-content h4{
	color: #76daff;
	font-size: 18px;
	line-height: 30px;
}

/*sign form*/
.sign{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px 0;
}

.sign h2{
	font-size: 24px;
	line-height: 30px;
	color: #333;
	letter-spacing: 2px;
}

.sign-form input{
	width: 70%;
	padding: 10px;
}

.sign-form a{
	width: 29%;
	background: #76daff;
	display: inline-block;
	padding: 5px 0;
	text-align: center;
	font-weight: bold;
}

.sign-form a:hover{
	color: #fff;
}

.sign-form input[type="text"]::-webkit-input-placeholder {
  color: #3c3c3c;
  font-size: 12px;
}

/*footer*/
.footer{
	display: grid;
	grid-template-columns: 3fr 1fr 2fr 2fr;
	align-content: start;
}

.footer-bg{
	background: #080808;
	padding: 70px 0;
}

.footer-brand p{
	padding-right: 40px;
}

.footer-brand-icon{
	margin-top: 20px;
}

.footer-info ul{
	list-style: none;
	margin-top: 25px;
}

.footer-our-work .our-work-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 35px;
}

.contact-items{
	margin-top: 30px;
}

.footer-info, .footer-our-work, .footer-contact{
	margin-top: 40px;
}
